# --- BANCO DE DADOS (MARIADB) ---
DB_HOST=IP_DO_SERVIDOR
DB_USER=usuario
DB_PASSWORD=senha
DB_NAME=nome_do_banco

# --- DATA LAKE (MINIO) ---
MINIO_ENDPOINT=IP_DO_MINIO:9000
MINIO_ACCESS_KEY=usuario
MINIO_SECRET_KEY=senha
MINIO_REGION=us-east-1

# --- AMBIENTE (Não alterar) ---
PYTHONPATH=/app/tasks_python:/app/flows_prefect